<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>

		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../public/css/common.css" />

		<style type="text/css">
			.conv-date {
				font-size: small;
				color: grey;
			}
		</style>
		<style type="text/css">
			.card-contact-name {
				font-size: large;
				color: black;
			}
			
			.mui-card,
			.mui-btn,
			.mui-btn-purple {
				margin-top: 20px;
				text-align: center;
			}
			
			#offCanvasSide {
				width: 200px;
				text-align: center;
			}
			
			.menu-user-card {
				display: -webkit-box;
				-webkit-box-align: center;
				-webkit-box-orient: horizontal;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></span>
			<h1 id="title" class="mui-title">群聊1</h1>
			<span id="create_group" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">发起群聊</span>
		</header>
		<div class="mui-content">
			<div>
				<ul class="mui-table-view" id="list">
					<!--<li class="mui-table-view-cell mui-media">
						<a>
							<div class="mui-media-object mui-pull-left">
								<a><span class="mui-icon-extra mui-icon-extra-peoples"></span></a>
							</div>

							<div class="mui-media-body">
								<span class="conv-name">james</span> <span class="conv-date mui-pull-right">2018-01-05</span>
								<p class='mui-ellipsis '>
									<span class="conv-message">test</span>

									<span class="mui-badge mui-badge-danger mui-pull-right" {{if unread==0}}style="display:none" {{/if}}>
						5
					</span>

								</p>
							</div>
						</a>
					</li>-->
				</ul>
				<div id="no_data" style="visibility: hidden; width: 100%;position: absolute;top: 114px;bottom: 0px;left: 0px;justify-content: center;-webkit-justify-content: center;-webkit-align-items:center;align-items:center; display:flex;display: -webkit-flex;">
					<p class="" style="font-size: 20px;">没有数据</p>

				</div>

			</div>
		</div>
	</body>

</html>
<script src="../../../public/js/mui.min.js"></script>
<script src="../public/js/common.js"></script>
<script type="text/javascript" src="./js/TIMManager.js"></script>
<script>
	var chatPage = null;
	var conversationUpdateLisnter, newMsgListner;
	mui.init({
		swipeBack: true //启用右滑关闭功能
	});
	mui.plusReady(function() {
		var self = plus.webview.currentWebview();
		//		mui.showLoading("正在加载..", 'div');
		var param = {};
		param.action = "cmd_init";
//			unregisterListener('action_new_msg', 'unregisterListener11');
		if(mui.os.ios) {
			var paramios = {};
			paramios.action = "cmd_init";
			initIMSDK(paramios, function(data) {
					//				logAlert(87);
					self = this;
					self.login(loginSuccess,
						function(result) {
							refreshChatListItems();
//								initUI();
							//						logAlert(88);

						}
					);
				},
				function(result) {
					logAlert(89);
				});
		} else {
			plus.TIMManager.callIMCmd(JSON.stringify(param),
				function(result) {
					var self = this;
					//login im
					//				logAlert(1);
					self.login(loginSuccess,
						function(result) {
							//						logAlert(88);
							refreshChatListItems();

						}
					);
				},
				function(result) {
					//			logAlert(98);
				}
			);
		}

		plus.webview.currentWebview().addEventListener('close',
			function() {
				if (mui.os.ios) {
					unregisterListener('action_new_msg', localStorage.newMsgListner);
				unregisterListener('action_update_conversation', localStorage.conversationUpdateLisnter);
				}else{
					unregisterListener('action_new_msg', newMsgListner);
				unregisterListener('action_update_conversation', conversationUpdateLisnter);
				}
				
				//unregister
				logout();
			});


			if(mui.os.ios) {
		
//			
				iOSRegisterIMListener('action_new_msg', function(data) {
//						mui.alert('action_new_msg');  
										refreshChatListItems();

									},
									function(result) {

									}
								);
				iOSRegisterIMListener('action_update_conversation', function(data) {
//					mui.alert('action_update_conversation');

										refreshChatListItems();

									},
									function(result) {

									}
								);
								
//
//				localStorage.conversationUpdateLisnter = '' + conversationUpdateLisnter;
//				localStorage.newMsgListner = '' + newMsgListner;
	} else {
								newMsgListner = registerListener('action_new_msg', function(data) {
					refreshChatListItems();
				});
		
				conversationUpdateLisnter = registerListener('action_update_conversation', function(data) {
					refreshChatListItems();
				});

				localStorage.conversationUpdateLisnter = '' + conversationUpdateLisnter;
				localStorage.newMsgListner = '' + newMsgListner;
	}

	});

	document.getElementById('create_group').addEventListener('tap', function(e) {

		//			sendPush();
		mui.openWindow({
			id: 'contact.html',
			url: 'contact.html',
			extras: {
				createGroup: true,
			}
		});

	});

	mui(".mui-content").on("tap", ".mui-table-view-cell", function() {

		//获取id

		var identifier = this.dataset.tag;
		var chat_type = this.dataset.type;

		//获得详情页面
		if(!chatPage) {
			if(mui.os.plus) {
				chatPage = plus.webview.getWebviewById('im-chat.html');
			}
		}

		var contact = {
			realname: this.dataset.name
		};

		if(chatPage) {
			//传值给详情页面，通知加载新数据
			mui.fire(chatPage, 'chatDetail', {
				identifier: identifier,
				chat_type: chat_type,
				contact: contact
			});
		}
		//打开详情
		//		logAlert('chatDetail: ideidentifier =='+identifier+',chat_type=='+chat_type+',contact=='+JSON.stringify(contact));
		mui.openWindow({
			id: 'im-chat.html',
			url: 'im-chat.html',
			extras: {
				identifier: identifier,
				chat_type: chat_type,
				contact: contact
			}
		});
		//打开详情

	});
	//	logAlert(5);
	if(mui.os.ios) {
//		refreshChatListItems();
		initUI();
	} else {
		initUI();
	}

	function loginSuccess(result) {
		setTimeout(function() {
			//			logAlert(3);

			refreshChatListItems();

		}, 2000);

	}

	function sendPush() {
		var user = getCurrentUser();

		var param = {
			title: "12iOS推送测试",
			message: "推送的消息内容34",
			userId: user.id

		};

		post('/jpush/user', param, success, error);

		function success(data, param, dataStringify) {

			//							
			logAlert("数据数据-----" + dataStringify);

			//						mui.alert("数据数据-----" + dataStringify);

			//					

		}

		function error(info) {
			mui.alert("请求失败！" + info);
			//						console.log();
		}
	}

	function initUI() {
//				logAlert(2);
		refreshChatListItems();
		fetchContacts();
	}

	function compare(property) {
		return function(a, b) {
			var value1 = a[property];
			var value2 = b[property];
			return value2 - value1;
		}
	}

	function refreshChatListItems() {

		getConvList("group", function(data) {
				mui.hideLoading();
				//				logAlert("backGroup:"+JSON.stringify(data));

				if(data.length == 0) {
					document.getElementById('list').innerHTML = '';
					document.getElementById('list').style.visibility = 'hidden';
					document.getElementById('no_data').style.visibility = 'visible';
					return
				}

				data.sort(compare('timestamp'));

				var htmlCells = '';

				for(var i = 0; i < data.length; i++) {
					var item = data[i];
					var msg = item.lastmsg;
					var content = '';
					var unread = 0;
					var timestamp = 0;
					unread = item.unread;
					if(msg) {

						content = msg.content;
						//						logAlert('msg'+msg);
						if(msg.type == 'sound') {
							content = '[语音消息]';
						} else if(msg.type == 'tips') {
							content = replaceUser(msg.content);
						}
					}

					var unreadStyle = 'style="display:none"';
					if(unread > 0) {
						unreadStyle = '';
					}

					timestamp = formatChatDate(item.timestamp * 1000);
					//var displayInfo = this.getCharColorByNickName(item.name);

					htmlCells += '<li data-name="' + item.name + '" data-tag="' + item.identifier + '" data-type="' + item.type + '" class="mui-table-view-cell mui-media">' +
						'						<a>' +
						'							<img  src="./images/group_chat_icon.png" class="mui-media-object mui-pull-left">' +
						'							<div class="mui-media-body">' +
						'								<span class="conv-name">' + item.name + '</span> <span class="conv-date mui-pull-right">' + timestamp + '</span>' +
						'								<p class=\'mui-ellipsis \'>' +
						'									<span class="conv-message">' + content + '</span>' +
						'									<span class="mui-badge mui-badge-danger mui-pull-right" ' + unreadStyle + ' >' +
						unread +
						'					</span>' +
						'								</p>' +
						'							</div>' +
						'						</a>' +
						'					</li>';
				}
				document.getElementById('list').innerHTML = htmlCells;
				document.getElementById('list').style.visibility = 'visible';
				document.getElementById('no_data').style.visibility = 'hidden';
			},
			function(result) {
				mui.hideLoading();
				document.getElementById('no_data').style.visibility = 'visible';
			}
		);

	}
</script>