.qc_inquire_pre_detail .mui-content .content-header .header{
	
}
.qc_inquire_pre_detail .mui-content .content-header{
	column-count:3;
	background-color: #FFFFFF;
	margin-bottom: 5px;
}
.qc_inquire_pre_detail .mui-content .content-header .left{
	margin-left: 25px;
	padding-top: 15px;
}
.qc_inquire_pre_detail .mui-content .content-header .center{
	padding-top: 15px;
	margin-left: 25px;
}
.qc_inquire_pre_detail .mui-content .content-header .right{
	margin-left: 25px;
	padding-top: 15px;
}
.qc_inquire_pre_detail .mui-input-group .mui-input-row {
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
}
.qc_inquire_pre_detail .mui-input-group .mui-input-row .labelDesc {
	color: rgb(120,120,120);
	font-weight: 300;
	font-size: smaller;
}
.qc_inquire_pre_detail .image-list {
	width: 100%;
	height: 85px;
	background-size: cover;
	padding: 10px 10px;
	overflow: hidden;
}
.qc_inquire_pre_detail .image-item {
	width: 55px;
	height: 55px;
	/*background-image: url(../images/iconfont-tianjia.png);*/
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid 1px #e8e8e8;
	vertical-align: top;
}
.qc_inquire_pre_detail .image-item .file {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 0;
}
.qc_inquire_pre_detail .image-item.space {
	border: none;
}
.qc_inquire_pre_detail .image-item .image-close {
	position: absolute;
	display: inline-block;
	right: -6px;
	top: -6px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 12px;
	background-color: #FF5053;
	color: #f3f3f3;
	border: solid 1px #FF5053;
	font-size: 9px;
	font-weight: 200;
	z-index: 1;
}
.qc_inquire_pre_detail .image-item .image-up{
	height: 65px;
	width: 65px;
	border-radius: 10px;
	line-height: 65px;
	border: 1px solid #ccc;
	color: #ccc; 
	display: inline-block;
	text-align: center;
}
.qc_inquire_pre_detail .image-item .image-up:after{
	font-family: "微软雅黑";
	content: '+';
	font-size: 60px;
}
.qc_inquire_pre_detail .image-item.space .image-close {
	display: none;
}
