/*!
 * ======================================================
 * qc_report Template For MUI (http://dev.dcloud.net.cn/mui)
 * =======================================================
 * @version:1.0.0
 * @author:cuihongbao@dcloud.io
 */

.security_suspend_new body {
	
}



.security_suspend_new .mui-input-group .mui-input-row {
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
}
.security_suspend_new .mui-input-group .mui-input-row .labelDesc {
	color: rgb(120,120,120);
	font-weight: 300;
	font-size: smaller;
}
.security_suspend_new p {
	padding: 10px 15px 0;
}
/*.qc_report button#submit { 
	width: 90%;
	height: 46px;
	left: 50%;
	-webkit-transform: translate(-50%);
}*/

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	font-size: 14px;
}

.security_suspend_new .hidden {
	display: none;
}
.security_suspend_new .image-list {
	width: 100%;
	height: 85px;
	background-size: cover;
	padding: 10px 10px;
	overflow: hidden;
}
.security_suspend_new .image-item {
	width: 50px;
	height: 50px;
	/*background-image: url(../images/iconfont-tianjia.png);*/
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid 1px #e8e8e8;
	vertical-align: top;
}
.security_suspend_new .image-item .file {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 0;
}
.security_suspend_new .image-item.space {
	border: none;
}

.security_suspend_new .image-item .image-up{
	height: 65px;
	width: 65px;
	border-radius: 10px;
	line-height: 65px;
	border: 1px solid #ccc;
	color: #ccc; 
	display: inline-block;
	text-align: center;
}

.security_suspend_new .mui-inline{
	vertical-align: bottom;
	font-size: 14px;
	color: #8f8f94;
}

.mui-popover {
	height: 180px;
}
.stream{
	display: none;
}
.mui-plus-stream .stream{
	display: block;
}
