html,
body {
	/*height: 100%;*/
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mui-slider-img-content {
	display: none;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}


/* 群聊带昵称 */

.chat-name {
	height: 6%;
	position: absolute;
	white-space: nowrap;
	border-radius: 8px;
	font-size: 1.3rem;
	top: -3rem;
	z-index: 2;
	display: block;
	color: #7d7d7d;
}

.bubbleItem .groupChat {
	margin-top: 4.3rem;
}

.bubbleItem .groupChat.leftBubble .topLevel {
	border-top: 10px solid white;
	border-bottom: none;
}

.bubbleItem .groupChat.rightBubble .topLevel {
	border-top: 10px solid #6F83FF;
	border-bottom: none;
}

.bubbleItem .icon.groupChat.rightBubble .topLevel {
	border-top: 10px solid white;
	border-bottom: none;
}

.bubbleItem .groupChat.rightBubble .chat-name {
	text-align: right;
	right: 3%;
}

.bubbleDiv {
	width: 100%;
	margin: 0 auto;
	/*overflow: auto;
	height: 94%;*/
	padding: 0 3%;
}

.bubbleItem {
	width: 100%;
	position: relative;
}

.leftBubble {
	position: relative;
	background-color: white;
	margin-left: 1rem;
	display: inline-block;
	border-radius: 5px;
	
	background-color: #FFFFFF;
	color: #333;
	padding: 8px;
	vertical-align: top;
	font-size: 15px;
	position: relative;
	margin: 0px 8px;
	max-width: 75%;
	min-width: 35px;
	float: left;
}

.rightBubble {
	position: relative;
	background-color: white;
	margin-left: 1rem;
	display: inline-block;
	border-radius: 5px;
	
	background-color: #6F83FF;
	color: #FFFFFF;
	padding: 8px;
	vertical-align: top;
	font-size: 15px;
	position: relative;
	margin: 0px 8px;
	max-width: 75%;
	min-width: 35px;
	float: right;
}

.bubble {
	line-height: 20px;
	border-radius: 0.8rem;
	margin-top: 2rem;
	display: inline-block;
	padding: 0.4rem 1rem;
	font-size: 1.4rem;
	margin-left: 5rem;
	margin-right: 5rem;
	position: relative;
}


/* 文本类型  */

.bubble.img {
	line-height: 19px;
	padding-top: 9px;
}

.bubble.icon {
	background-color: #fff;
}

.bubble.icon .topLevel {
	border-bottom-color: #fff;
}

.bubble.icon img {
	width: 120px;
	height: 120px;
}

.bubble.sound.rightBubble .soundLength {
	position: absolute;
	left: -20px;
	color: #B6B6B6;
	line-height: 47px;
}

.bubble.sound.leftBubble .soundLength {
	position: absolute;
	right: -31px;
	color: #B6B6B6;
	line-height: 46px;
}

.bubble.img .send-list-img {
	margin: 0px 2px 0 2px;
	height: 53px;
	width: 53px;
	border-radius: 3px;
	border: 2px white solid;
	display: inline-block;
	background-size: cover !important;
	background-position: center !important;
}

.clearfix .doctor-head {
	right: 0.1rem;
}

.leftBubble .topLevel {
	position: absolute;
	top: 1rem;
	left: -9px;
	border-bottom: 10px solid white;
	border-left: 10px solid transparent;
	
	
}

.rightBubble .topLevel {
	position: absolute;
	top: 1rem;
	right: -8px;
	border-bottom: 10px solid #6F83FF;
	border-right: 10px solid transparent;
}

.chat-time {
	color: #888;
	text-align: center;
	line-height: 3rem;
	font-size: 1.3rem;
	margin-top: 1rem;
}

.doctor-head {
	width: 3.5rem;
	box-sizing: border-box;
	position: absolute;
	height: 3.5rem;
	top: 2rem;
}

.doctor-head img {
	width: 100%;
	border-radius: 50rem;
	box-sizing: border-box;
	height: 100%;
}

.doctor-head #head {
	width: 100%;
	border-radius: 50rem;
	box-sizing: border-box;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 18px;
	width: 36px;
	height: 36px;
	background-color: #4CD964;
	color: white;
}

.chat-trip {
    line-height: 3.5rem;
    height: 6%;
    text-align: center;
    width: 94%;
    border-radius: 8px;
    font-size: 1.3rem;
    position: relative;
    top: 1rem;
    left: 3%;
    z-index: 2;
    display: block;
    color: #7d7d7d;
}


