.mui-bar-nav~.mui-content.mui-box {
	margin-top: 58px;
}

.mui-table-view .mui-media-object {
	height: 50px;
	max-width: 50px;
}

.mui-table-view .mui-media-body {
	line-height: 32px;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}

.mui-table-view-cell {
	padding: 14px 15px;
}
.mui-table-view-cell:after{
	left:0;
}

/*----------*/

.plan_title {
	margin-top:0.5rem;
	line-height:1rem;
	padding-left: 0.4rem;
}

.plan_con {
	color: #579ADF;
	font-size: 0.8rem;
	line-height: 1.2rem;
	margin-top:0.3rem;
}
.plan_con>span{
	padding-right: 0.3rem;
}
.plan_title_S{
	/*line-height: 2rem;*/
	margin-top:0.5rem;
}
