.rw_div{
	padding-bottom:6px;
	background: #fff;
	margin-top: 10px;
}
.mui-table-view-cell:after{
	left:15px;
	right:15px;
	background: #F0F0F0;
}
.rw_sub1{
	float:right;
	margin-right:1.8rem;
	color: #000;
	font-size: 0.8rem;
}
.rw_more{
	float:right;
	color: #B7B7B7;
	font-size:0.8rem;
	color: #2489DB;
}
.rw_more>sub{
	font-size: 1.1rem;
}
.mui-table-view:after{
	background: #fff;
}
.btn_box{
	padding: 0 15px;
	background: #fff;
}
.rwBtn{
	color: #fff;
	background: #2489DB;
	padding:6px 0;
	border-radius: 10px;
	border-color:#2489DB ;
}
/*----*/
.mTop{
	margin-top:10px;

}
.xz-box{
	padding:0 15px;
	background: #fff;
}
.xz-box,
.xz_row,
.xz_icon{
	width: 100%;
	
}
.xz_row {
	/*border-bottom: 1px solid #F3F3F3;*/
	height: 50px;
	line-height: 50px;
	background: #fff;
}

.xz_icon_title{
	float:left;
	margin-left: 8px;
	font-weight: bold;
	font-size: 0.9rem;
}
.xz_icon_1{
	display: inline-block;
	width:26px;
	height:26px;
	text-align: center;
	font-size: 1.3rem;
	line-height: 26px;
	float:right ;
	margin-top:10px;
	margin-right:10px;
	color: #2489DB;

}
.xz_icon_content{
	padding: 6px 8px;
	line-height:26px;
	background: #fff;
}
.rw_title{
	font-size: 0.9rem;
	font-weight: bold;
}
.plan_tz{
	color: #2489DB;
	margin-left:0.6rem;
}
.tzAll{
	background: #EEEEEE;
	color: #2489DB ;
	padding:0.4rem;
	height:2.2rem;
	position: relative;
}
.mui-table-view:before{
	background: #fff;
}
.tzAll_SPAN2{
	position: absolute;
	top:0.1rem;
	left:2.3rem;
	font-size: 0.9rem;
}
.radio_row_all{
	display: inline-block;
	border:1px solid #2489DB;
	border-radius: 50%;
	color: #fff;
	width:1.2rem;
	height:1.2rem;
	font-size: 1.8rem;
	line-height: 1.3rem;
}
.radio_row{
	display: inline-block;
	border:1px solid #D3D3D3;
	border-radius: 50%;
	color: #fff;
	width:1.2rem;
	height:1.2rem;
	font-size: 1.8rem;
	line-height: 1.3rem;
}
.mui-icon-checkmarkempty:before{
	position: relative;
	left:-0.3rem;
}
/*row*/
.mui-table-view-cell.tz_row{
	padding: 11px 0px;
}
.mui-table-view-cell.tz_row>a:not(.mui-btn){
	margin:-8px -15px -11px 0;
}
.mui-table-view-cell.tz_row>a:not(.mui-btn).mui-active{
	background: #fff;
}
.mui-table-view-cell.tz_row:after{
	left:0;
	right: 0;
}
.tz_left,.tz_center{
	float:left;
	height:3rem;
}
.tz_left{
	padding:0 0.8rem 0 0.3rem;
	line-height:3rem;
}
.tz_center{
	line-height:1.4rem ;
	font-size: 0.9rem;
	margin:1% 2%;
}
.tz_center div{
	margin:1% 1%;
}
.tz_centerSpan{
	margin-left: 1.8rem;
}
.mui-table-view-cell.tz_row:last-child:after{
	height:1px ;
}
/*input date*/
input[type=text] {
	border: none !important;
	padding: 0 !important;
	margin-bottom: 0;
	font-size: 0.8rem;
	width: 100%;
}
input[type=date] {
	position: relative;
	right:-1rem;
	border: none !important;
	padding: 0 !important;
	margin-bottom: 0;
	font-size: 0.8rem;
	width: 120%;
	text-align: right;
	height:inherit;
}

input[type=date]::-webkit-inner-spin-button {
	visibility: hidden;
}
/*---*/