body {
	font-size: 0.8rem;
}

.xz-box {
	padding: 0 11px;
	background: #fff;
}

.xz-box,
.xz_row,
.xz_icon {
	width: 100%;
}

.xz_row {
	border-bottom: 1px solid #F3F3F3;
	height: 50px;
	line-height: 50px;
	background: #fff;
}

.xz_title {
	width: 22%;
	display: inline-block;
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.xz_conLittle {
	width: 26%;
	text-align: left;
	display: inline-block;
	color: #2489DB;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.xz_conBig {
	width: 76%;
	text-align: left;
	display: inline-block;
	color: #2489DB;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.xz_conbtn {
	width: 50%;
	text-align: left;
	display: inline-block;
	color: #2489DB;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.xz_btn {
	width: 24%;
	margin-top: 8px;
	border-radius: 5px;
	border-color: #2489DB;
	color: #2489DB;
}

.xz_icon_title {
	float: left;
	margin-left: 8px;
	font-weight: bold;
	font-size: 0.9rem;
}

.xz_icon_1 {
	display: inline-block;
	width: 26px;
	height: 26px;
	text-align: center;
	font-size: 1.3rem;
	line-height: 26px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	color: #2489DB;
}

.xz_icon_content {
	padding: 6px 8px;
	line-height: 26px;
	background: #fff;
}

.xz_icon_content>p {
	color: #383838;
	line-height: 26px;
	margin-bottom: 0;
}

.xz_table {
	width: 100%;
	border-top: 0px solid #fff;
	background: #fff;
}

.xz_table th,
td {
	border: 1px solid #BBBBBB;
	line-height: 40px;
	text-align: center;
}

.xz_zp_btn {
	width: 60%;
	margin-top: 8px;
	border-radius: 6px;
	border-color: #2489DB;
	float: left;
	color: #2489DB
}

.xz_btnIcon {
	display: inline-block;
	width: 42%;
	float: right;
}

.xz_icon_content>div {
	line-height: 34px;
}

.mTop {
	margin-top: 10px;
}


/*待办*/

.db_sel {
	font-size: 0.8rem;
	/*position: relative;*/
	/*top: -21px;*/
	/*bottom:0px;*/
	width:100%;
	/*height: 30px;*/
	/*line-height: 30px;*/
	/*display: inline-block;*/
	border-radius: 10px;
	padding: 0;
	background: url(../image/back.png) no-repeat scroll right center transparent;
	background-size: 10px;
}


/*详情*/

.xq_zt {
	color: #F42F3B;
}


/*.xqBag{
	background: #F0F0F2;
}*/


/*7.27修改table样式为文件流*/

.wtdx_row {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #F3F3F3;
	padding-top: 6px;
	-webkit-box-shadow:0 0 8px rgba(0,0,0,.0);
}

.wtdx_row>span {
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 6px;
	left: 1%;
}

.wtdx_row>span>sup {
	display: inline-block;
	height: 5px;
	width: 5px;
	background: #2489DB;
	border-radius: 50%;
	top: -.75em;
}

.wtdx_row>div {
	display: inline-block;
	width: 88%;
	margin-left: 6%;
}

.wtdx_row>div>div {
	line-height: 1.6rem;
}
.wtdx_color {
	color: #2489DB;
	width:5%;
}

.wtdx_span2 {
	margin-left: 5%;
}

.plan_tz {
	color: #2489DB;
	margin-left: 0.6rem;
}

.lan {
	color: #2489DB;
}


/*input date*/
input[type=text] {
	border: none !important;
	padding: 0 !important;
	margin-bottom: 0;
	font-size: 0.8rem;
	width: 100%;
}
input[type=date] {
	border: none !important;
	padding: 0 !important;
	margin-bottom: 0;
	font-size: 0.8rem;
	width: 120%;
}

input[type=date]::-webkit-inner-spin-button {
	visibility: hidden;
}
/*---*/